body {
  display: grid;
  grid-template-rows: 0.1fr 0.1fr 1fr 1fr 1fr;
  max-width: 1000px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-family: "Lumanosimo", cursive;
  background-color: #219ebc;
  color: white;
}

.navbar-list {
  display: flex;
  align-items: center;
}

.navbar-list a {
  margin-right: 50px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar-list a:last-child {
  margin-right: 0px;
}

.navbar-login {
  display: flex;
  align-items: center;
}

.navbar-login button {
  margin-left: 10px;
}

.button {
  font-family: "Lumanosimo", cursive;
  background-color: #d4a373;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.navbar-login button:last-child {
  margin-right: 35px;
}

.footer {
  background-color: #219ebc;
  color: black;
  font-family: "Lumanosimo", cursive;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.footer-content {
  align-self: center;
  color: white;
  margin-left: 30px;
  font-family: sans-serif;
}

.footer-content span {
  font-family: "Cedarville Cursive", cursive;
  font-size: 25px;
}

.footer-social {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer-social a {
  text-decoration: none;
  color: black;
}

.footer-social li:last-child {
  margin: 0 35px 0 25px;
}

.banner-intro {
  background-color: #d4a373;
  color: black;
  font-family: "Lumanosimo", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images {
  display: flex;
  justify-content: space-between;
  background-color: #d4a373;
}
.images img {
  width: 30%;
  height: 200px;
  object-fit: none;
}

.images img:first-child {
  object-fit: contain;
}

.form-container {
  font-family: "Lumanosimo", cursive;
  display: flex;
  background-color: #ffb703;
}

.form-title {
  flex: 1;
  align-items: center;
  font-weight: bold;
  text-align: center;
  display: flex;
  width: 300px;
  padding-left: 10px;
  height: 100%;
  border-right: 2px solid white;
}

.search-form {
  flex: 3;
  padding-left: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
}

/* .search-form > section {
  flex-basis: calc(33.33% - 10px);
} */

.wave-size {
  display: flex;
  padding-top: 10px;
}

.wave-size input {
  max-width: 50px;
  margin: 0 10px 0 10px;
}

.wave-size div {
  align-self: center;
}

.wave-size p {
  margin: 0;
  padding-right: 20px;
}

.wave-type {
  display: flex;
  justify-content: space;
}

.search-form select {
  margin-left: 20px;
}

.search-form button {
  margin: 0 10px 10px 0;
  align-self: center;
}

.image-intro {
  background-color: #d4a373;
  display: flex;
  justify-content: center;
}

#shaper-img {
  width: 100%;
  height: 100%;
}

#login-form {
  align-self: center;
}

#register-btn {
  margin: 0 10px 10px 10px;
  align-self: flex-end;
}

.flash-message {
  color: red;
  list-style: none;
}

#register-form {
  display: flex;
  flex-direction: column;
}

#register-form div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#register-form label {
  margin: 0 10px 10px 250px;
}

#register-form input {
  margin: 0 200px 10px 0;
}

#register-form button {
  width: 100px;
  align-self: center;
  margin: 20px 0 0 0;
}

.results-column {
  font-weight: bold;
  /* border: 1px solid #dddddd; */
  text-align: center;
  padding: 8px;
  min-width: 100px;
}

.results-img {
  width: 100px;
  height: 150px;
  object-fit: contain;
}

.results-row {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;
  border: 1px solid black;
}

.grid-align {
  align-items: center;
}

.results-row a {
  text-decoration: none;
}

.about-text {
  background-color: #d4a373;
}
