<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page - Add Surfboard</title>
</head>
<body>
    {% include "navbar.html.jinja" %}

<form action="/add_action" method="POST">

    <label for="model-name">Model Name</label>
    <input type="text" name="model-name" id="model-name">

    <label for="model-type">Model Type</label>
    <select name="model-type" id="model-type">
        <option value="">...</option>
        <option value="Step Up / Semi Gun">Step Up / Semi Gun</option>
        <option value="High Performance">High Performance</option>
        <option value="Groveler">Groveler</option>
        <option value="Daily Driver">Daily Driver</option>
    </select>
   
   <label for="min-wave-size" >Min wave feet?</label>
   <input type="number" name="min-wave-size" id="min-wave-size">

   <label for="max-wave-size">And the max feet?</label>
   <input type="number" name="max-wave-size" id="max-wave-size">

   <label for="wave-type">Wave Type</label>
   <select id="wave-type" name="wave-type">
    <option value="">...</option>
    <option value="mushy">Mushy - Full - Weak</option>
    <option value="all">All Conditions - Daily Driver</option>
    <option value="powerful">Powerful Waves</option>
    <option value="big wave">Big Waves</option>
   </select>

   <label for="break-type">Break Type</label>
   <select name="break-type" id="break-type">
    <option value="">...</option>
    <option value="beach">Beach break</option>
    <option value="point">Point break</option>
    <option value="reef">Reef - Slabs</option>
    <option value="all">All Breaks</option>
   </select>

    <label for="skill-level">Surfer Skills Level?</label>
    <select name="skill-level" id="skill-level">
     <option value="">...</option>
     <option value="beginner">Beginner / Low Experienced</option>
     <option value="intermediate">Intermediate</option>
     <option value="expert">Expert</option>
    </select>

    <label for="img-single">Main Image</label>
    <input type="text" name="img-single" id="img-single">

    <label for="img-detail">Secondary Image</label>
    <input type="text" name="img-detail" id="img-detail">

    <label for="surfboard-url">Surfboard URL</label>
    <input type="text" name="surfboard-url" id="surfboard-url">

    <button>Add New Surfboard</button>
</form>

    {% include "footer.html.jinja" %}

</body>
</html>