<footer class="footer">
    <div class="footer-content">
    Developed by<span>  Joao Murara</span>
    </div>
    <ul class="footer-social">
        <li>
            <a href="https://github.com/JPMurara" target="_blank">
            <span class="icon fa-brands fa-github"></span>
            <span class="text">My GitHub</span>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/joao-murara/" target="_blank">
            <span class="icon fa-brands fa-linkedin"></span>
            <span class="text">My LinkedIn</span>
            </a>
        </li>
    </ul>
</footer>
<script src="../static/script.js"></script>
