<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Surfboard Selector - Login</title>
    {% include "css-link.html.jinja" %}
</head>
<body>

{% include "navbar.html.jinja" %}

  <section class="banner-intro">
    <h1 id="login-page-title">Shaper's Page Login</h1>
    <p>Login as a shaper to add your new surfboard into our website</p>
  </section>

  <section class="form-container" >
  <section class="form-title">
    <img id="shaper-img" src="https://images.unsplash.com/photo-1594397119957-f9bf01b30c7b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c3VyZmJvYXJkJTIwc2hhcGVyfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt="">
  </section>
    
  <form id="login-form" action="/login_action" method="POST">
    <label for="email">Shaper Email</label>
    <input type="email" name="email" id="email" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    
    <button class="button">Login</button>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
        <li class="flash-message">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    </form>

    {# <a href="/register">Register here</a> #}
    {# <div id="register-btn-container"> #}
    <button id="register-btn" class="button">Register here</button>
    {# </div> #}
    </section>
    {% include "footer.html.jinja" %}
</body>
</html>