<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Surfboard Selector - Details</title>
</head>
<body>
    {% include "navbar.html.jinja" %}

    {% for surfboard in results %}
<div>{{surfboard.model_name}}</div>
<div>{{surfboard.model_type}}</div>
<div>
  {{ surfboard.min_wave_size }} to {{ surfboard.max_wave_size }}
</div>
<div>{{surfboard.wave_type}}</div>
<div>{{surfboard.break_type}}</div>
<div>{{surfboard.skill_level}}</div>
<img src="{{surfboard.img_single}}" alt="">
<img src="{{surfboard.img_detail}}" alt="">
<a href="{{surfboard.url}}">link to the surfboard</a>
<a href="/surfboard_details">Details</a>
{% endfor %}
</body>
</html>