<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Sign Up Page</title>
    {% include "css-link.html.jinja" %}
</head>
<body>
    <h1>Admin Sign Up Page</h1>
    <p>If you are a shaper and want to add your surfboard to our database, please submit the form</p>
    
    <form action="/register_action" method="POST">
    <label for="shaper-name">Company Name</label>
    <input type="text" name="shaper-name" id="shaper-name" required>

    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>

    <label for="shaper-url">Company Website</label>
    <input type="text" name="shaper-url" id="shaper-url" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <label for="confirm-password">Confirm Password</label>
    <input type="password" name="confirm-password" id="confirm-password" required>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-messages">
      {% for message in messages %}
        <p class="flash-message">{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <button>Register</button>

    <div class="message-container"></div>
</form>

<script src="../static/script.js"></script>
</body>
</html>